
<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a class="d-block" href="index.html">
                <img loading="lazy" src="assets/images/log.png" style="width: 170px;height: 100px;">
              </a>
            
          </div>
          <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {{error}}
      
            <form (ngSubmit)="onSubmit()" #LoginForm="ngForm" >
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
            </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="reg number" name="reg_number" [(ngModel)]="form.reg_number">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" >
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" style="font-size: 10px;" class="btn btn-primary btn-block">login</button>
                </div>
                <!-- /.col -->
              </div>

              
            </form>
            <div class="row">
              <!-- /.col -->
              <div class="col-md-12 text-right">
                <a style="font-size: 14px;" target="_blank" href="https://elearning.cut.ac.zw/portal/index.php/cut_elearning/home/re_sign_up">Forgot Password?</a>
              </div>
              <!-- /.col -->
            </div>
         
    
            
          </div>
          
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
</div>


