<div id="banner-area" class="banner-area" style="background-image:url(assets/images/banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">News</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">News</a></li>
                        <li class="breadcrumb-item active" aria-current="page">News Right sidebar</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">
  
          <div class="post-content post-single">
            <h2 class="entry-title">
                {{topicTestimonial?.topic_name}}
                      </h2>
            <div class="post-media post-image">
              <img loading="lazy" src="{{imagePath}}{{topicTestimonial.image}}" style="height: 600px;width: 800px;" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-meta-date"><i class="far fa-calendar"></i> {{topicTestimonial?.date_posted}}</span>
                  <span class="post-comment">
                    <form #addReview=ngForm (submit)="postReview()">  
                      <input type="hidden" name="is_liked" [value]=1 [(ngModel)]="rev.is_liked">
                      <input type="hidden" name="topic_id" value="{{topic.topic_id}" [(ngModel)]="rev.topic_id">
                      <input type="hidden" name="student_id" value="{{student.student_id}" [(ngModel)]="rev.student_id">


                   
                    <button type="submit" class="btn  btn-default " 
                      ><i style="color: #d73535;" class="fa-solid fa-heart"></i>{{like.liked}}</button>
                    </form>
                  </span>
                        <span class="post-author">
                            <i class="far fa-folder-open"></i><a href="#">{{topicTestimonial?.topic_category_name}}</a>
                          </span>
                </div>
             
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>{{topicTestimonial?.description}}</p>
  
  

              </div>
  
  
            </div><!-- post-body end -->
          </div><!-- post content end -->
  
          <!-- Post comment start -->
          <div id="comments" class="comments-area">
            <h3 class="comments-heading">Testimonials</h3>
  
            <ul class="comments-list">
              <li>
                <div *ngFor="let d of data.testimonials" class="comment d-flex">
                  <img loading="lazy" class="comment-avatar" alt="author" src="{{imagePath}}{{d.image}}">
                  <div class="comment-body">
                    <div class="meta-data">
                    <span class="comment-author mr-3">{{d.first_name}} {{d.last_name}}</span>
                      <span class="comment-date float-right">{{d.date_posted | date}}</span>
                    </div>
                    <div class="comment-content">
                      <p>{{d.description}}</p>
                    </div>
                    
                  </div>
                </div><!-- Comments end -->
  
             
              </li><!-- Comments-list li end -->
            </ul><!-- Comments-list ul end -->
          </div><!-- Post comment end -->
  
        
        </div><!-- Content Col end -->
  
        <div class="col-lg-4">
  
          <div class="sidebar sidebar-right">
  
            <div class="widget">
              <h3 class="widget-title">Categories</h3>
              <ul class="arrow nav nav-tabs">
                <li><a href="#">Construction</a></li>
                <li><a href="#">Commercial</a></li>
                <li><a href="#">Building</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Structure</a></li>
              </ul>
            </div><!-- Categories end -->
  
  
  
          </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->
  
      </div><!-- Main row end -->
  
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->